body {
  font-style: italic;
  font-family: cursive;
  overflow-x: hidden;

  .menu {
    text-align: center;
    font-size: 80px;
    text-shadow: rgb(233, 182, 88) 3px 3px 6px;
    font-weight: 50%;
    margin-top: 70px;
  }
  .cat-text {
    text-decoration: underline green 3px;
    font-size: 30px;
    text-shadow: rgb(233, 182, 88) 1px 1px 2px;
    text-align: center;
  }
  .wrapper {
    display: flex;
  }
  .img {
    width: 100%;
    height: 350px;
  }
  .dish {
    margin: 50px;
    padding: 20px;
    text-align: center;
  }
  .card {
    box-sizing: border-box;
    box-shadow: 5px 5px 20px 10px rgba(178, 175, 175, 0.5);
    margin: 20px 0;
  }

  h2 {
    font-size: 60px;
  }

  #btnn {
    width: 110%;
    height: 70px;
    margin: 20px;
    border-radius: 3px;
    font-size: smaller;
  }

  .btn:hover {
    background-image: linear-gradient(to right, green, rgb(146, 220, 146));
  }

  .left {
    margin-top: 210px;
    margin-left: 10px;
    margin-right: 0;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    text-align: right;
  }
  /* .navi{
    position: fixed;
    
} */
  .navItem {
    justify-items: right;
    text-align: right;
    margin: 0 auto;
    display: flex;
  }
}
